<header class="text-gray-700 body-font border-b border-gray-200">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" (click)="Home()" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl" >SSR Federal Insurance</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" (click)="HealthInsurance()">Health Insurance</a>
      <a class="mr-5 hover:text-gray-900" (click)="HomeInsurance()">Home Insurance</a>
      <div *ngIf="!isLoggedIn; else elseBlock">
        <a class="mr-5 hover:text-gray-900" (click)="AdminLogin()">Admin Login</a>
        <a class="mr-5 hover:text-gray-900" (click)="UserLogin()">User Login</a>
      </div>
      <ng-template #elseBlock>
      <a class="mr-5 hover:text-gray-900" (click)="OwnedPolicies()">Your policies</a>
      </ng-template>
    </nav>
    <!-- <button class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button> -->
  </div>
</header>

<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Home Policy Request</h1>
      </div>
      <form #SPForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
              <input type="text" id="name" name="name" placeholder="{{user.name}}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" disabled>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
              <input type="email" id="email" name="email" placeholder="{{user.emailid}}"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" disabled>
            </div>
          </div>
          <div class="p-2 w-full">
            <div class="relative">
              <label for="address" class="leading-7 text-sm text-gray-600">Address</label>
              <textarea id="address" name="address" placeholder="{{user.address}}"  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" disabled></textarea>
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="areaid" class="leading-7 text-sm text-gray-600">Pincode</label>
              <input type="number" id="areaid" name="areaid" [(ngModel)]="homeRequest.areaid" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" >
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="sumassurence" class="leading-7 text-sm text-gray-600">sumassurence</label>
              <input type="number" id="sumassurence" name="sumassurence" [(ngModel)]="homeRequest.sumassurence" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="policyterm" class="leading-7 text-sm text-gray-600">policyterm</label>
              <input type="number" id="policyterm" name="policyterm" [(ngModel)]="homeRequest.policyterm" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="premium" class="leading-7 text-sm text-gray-600">premium</label>
              <input type="number" id="premium" name="premium" [(ngModel)]="homeRequest.premium" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="homevalue" class="leading-7 text-sm text-gray-600">homevalue</label>
              <input type="number" id="homevalue" name="homevalue" [(ngModel)]="homeRequest.homevalue" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-1/2">
            <div class="relative">
              <label for="deductables" class="leading-7 text-sm text-gray-600">deductables</label>
              <input type="number" id="deductables" name="deductables" [(ngModel)]="homeRequest.deductables" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
            </div>
          </div>
          <div class="p-2 w-full">
            <button type="submit" class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Request</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </section>