<header class="text-gray-700 body-font border-b border-gray-200">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">SSR Federal Insurance</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        </nav>
        <button (click)=logout()
            class="inline-flex items-center bg-gray-200 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">Logout
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    </div>
</header>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col">
        <div class="h-1 bg-gray-200 rounded overflow-hidden">
          <div class="w-24 h-full bg-indigo-500"></div>
        </div>
        <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12 ">
          <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">USERS WITH HEALTH POLICIES</h1><br><br>
          &nbsp;
          <div class="x-auto shadow-md sm:rounded-lg " style="margin-right: 500px;">
            <table class="w-full text-base text-left text-gray-500 dark:text-gray-400 "
            style="width: fit-content;">
            <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        User Id
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Policy Id
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Policy Start Date
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of healthPolicyList"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row"
                        class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{policy.userid}}
                    </th>
                    <td class="py-4 px-6">
                        {{policy.policyid}}
                    </td>
                    <td class="py-4 px-6">
                        {{policy.policystartdate}}
                    </td>
                    
                    <td class="flex items-center py-4 px-6 space-x-3">
                        <a (click)=stopPolicy(policy) class="font-medium text-red-600 dark:text-red-500 hover:underline">Stop Policy</a>
                    </td>
                </tr>

            </tbody>
        </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto">
        <div class="flex flex-col">
            <div class="h-1 bg-gray-200 rounded overflow-hidden">
                <div class="w-24 h-full bg-indigo-500"></div>
            </div>
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12 ">
                <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">USERS WITH HOME POLICIES
                </h1><br><br>
                &nbsp;
                <div class="x-auto shadow-md sm:rounded-lg justify-center">
                    <table class="w-full text-base text-left text-gray-500 dark:text-gray-400 justify-center"
                        style="width: fit-content;">
                        <thead class="text-base text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="py-3 px-6">
                                    User Id
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Policy Id
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Policy Start Date
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Policy Name
                                </th>
                                <th scope="col" class="py-3 px-6">
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let policy of homePolicyList"
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <th scope="row"
                                    class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{policy.userid}}
                                </th>
                                <td class="py-4 px-6">
                                    {{policy.policyid}}
                                </td>
                                <td class="py-4 px-6">
                                    {{policy.policystartdate}}
                                </td>
                                <td class="py-4 px-6">
                                    SSR SPECIAL HOME INSURANCE
                                </td>
                                <td class="flex items-center py-4 px-6 space-x-3">
                                    <a (click)=modifyHomePolicy(policy) class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modify Policy</a>
                                    <a (click)=stopHomePolicy(policy) class="font-medium text-red-600 dark:text-red-500 hover:underline">Stop Policy</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>